{{ $has_logo := false }}
{{ if .Site.Params.footer.logo }}
	{{ $has_logo = true }}
{{ end }}
{{ $footer_content := false }}
{{ if or .Site.Params.footer.content .Site.Params.footer.links }}
	{{ $footer_content = true }}
{{ end }}
{{ $footer_social := false }}
{{ if and .Site.Params.footer.has_social .Site.Params.footer.social_links }}
	{{ $footer_social = true }}
{{ end }}

<footer class="site-footer">
	{{ if or (or (or $has_logo .Site.Params.footer.has_primary_nav) .Site.Params.footer.has_secondary_nav) .Site.Params.footer.has_tertiary_nav }}
	
	{{ if or $footer_content $footer_social }}
	<div class="site-footer__info py-3 py-sm-4">
		<div class="container">
			<div class="grid items-center">
				{{ if $footer_content }}
				<div class="site-footer__copyright cell-12{{ if $footer_social }} cell-sm{{ end }}">
                    
                    {{ if $.Site.Params.footer.content }}
						<span>{{ $.Site.Params.footer.content | safeHTML }}</span>
					{{ end }}
					{{ range $link := $.Site.Params.footer.links }}
						<a href="{{ $link.url | relURL }}"
							{{ if $link.new_window }} target="_blank"{{ end }}
							{{ if or $link.new_window $link.no_follow }} rel="{{ if $link.new_window }}noopener {{ end }}{{ if $link.no_follow }}nofollow{{ end }}"{{ end }}>{{ $link.label }}</a>
					{{ end }}
				</div>
				{{ end }}
				{{ if $footer_social }}
				<div class="site-footer__social cell-12{{ if $footer_content }} cell-sm-auto{{ end }}">
					{{ range $link := $.Site.Params.footer.social_links }}
						{{ $link_style := $link.style | default "link" }}
						{{ if and $link.has_icon $link.icon }}
						<a href="{{ $link.url | relURL }}"
							{{ if $link.new_window }} target="_blank"{{ end }}
							{{ if or $link.new_window $link.no_follow }} rel="{{ if $link.new_window }}noopener {{ end }}{{ if $link.no_follow }}nofollow{{ end }}"{{ end }}
							class="btn btn--icon{{ if eq $link_style "primary" }} btn--primary{{ end }}{{ if eq $link_style "secondary" }} btn--secondary{{ end }}{{ if eq $link_style "link" }} btn--clear{{ end }}">
							{{ $include_dict := dict "icon" $link.icon }}
							{{ partial "icon.html" $include_dict }}
							<span class="sr-only">{{ $link.label }}</span>
						</a>
						{{ end }}
					{{ end }}
				</div>
				{{ end }}
			</div>
		</div>
	</div>
	{{ end }}
</footer>
